### Font
font.family : Serif
font.size : 10.0

### Text
text.usetex : False

### Lines
lines.linewidth : 1
lines.antialiased : True

### Axes settings
#axes.facecolor : f8f8f8
axes.facecolor : ffffff
axes.edgecolor : 000000
axes.linewidth : 1.0
axes.titlesize : 10.0
axes.labelsize : 10.0
# axes.labelcolor : 111111
axes.axisbelow : True
#axes.prop_cycle : cycler('color', ['bfdef4', 'ffdfc3']) 
#axes.color_cycle : 348ABD, 7A68A6, A60628, 467821, CF4457, 188487, E24A33

### Path Effect Settings


### Ticks
xtick.major.size     : 6    # major tick size in points
xtick.minor.size     : 3      # minor tick size in points
xtick.major.pad      : 6      # distance to major tick label in points
xtick.minor.pad      : 6      # distance to the minor tick label in points
xtick.color          : 000000 # color of the tick labels
xtick.labelsize      : 8 # fontsize of the tick labels
xtick.direction      : in     # direction: in or out
ytick.major.size     : 6     # major tick size in points
ytick.minor.size     : 3      # minor tick size in points
ytick.major.pad      : 6      # distance to major tick label in points
ytick.minor.pad      : 6      # distance to the minor tick label in points
ytick.color          : 000000 # color of the tick labels
ytick.labelsize      : 8 # fontsize of the tick labels
ytick.direction      : in     # direction: in or out
errorbar.capsize     : 0.1     

### Grid settings
axes.grid : True
grid.alpha : 0.3
grid.linewidth : 1

### Legend
legend.fancybox     : True
legend.fontsize     : Small
legend.facecolor    : fdfdfd

### Figure
#figure.figsize    : 2.5, 2.5
figure.figsize      : 4.0, 4.0
figure.facecolor    : 1.0
figure.edgecolor    : 0.5
figure.dpi          : 400

### Bar plots
hatch.linewidth : 0.1

### Animation
animation.writer : html
animation.html : html5
